/* HEADER BURGER IMANE */

header {
  padding: 10px 0;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 7;
  
}


.fa-xmark {
  display: block;
  cursor: pointer;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-color: hsla(180, 12%, 8%, .8);
  backdrop-filter: blur(32px);
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  border-left: 2px solid white;
  transition: right .3s;
  z-index: 6;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  
}

.navbar a {
  display: flex;
}

.logo img {
  width: 170px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding: 5rem 0 0 3rem;
  color: black;
  transition: color .3s;
}

.nav-links:hover {
  color: green;
}

.fa-bars {
  display: block;
}

.fa-bars, .fa-xmark{
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.fa-xmark {
  display: none;
}


.nav-close {
  position: absolute;
  top: 1.7rem;
  right: 0.2rem;
  z-index: 7;
}

.nav-close.active {
  display: none;
}

.show-menu {
  right: 0;
}

.active-link {
  color: green;
}


/* FIN HEADER BURGER */

main {
  height: 100vh;
}

/* SECTION HOME IMANE */
section.home {
  margin-bottom: 20px;
  margin-top: 40px;
}
.home-container {
  grid-template-columns: 1fr;
  padding-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

.home-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
  text-align: center;
}

.home-img {
  display: block;
  width: 70%;
  margin: auto;
  transform: none;
  padding: 0 20px;
  margin-bottom: 20px;
}

.home-title {
  order: 1;
  font-size: 2rem;
  margin-bottom: 0;
  padding: 10px 0;
}

.home-subtitle {
  order: 2;
  font-size: 2rem;
  padding: 0;
}

.home-description {
  max-width: 350px;
  width: 90%;
  order: 4;
  font-size: 1rem;
  margin-bottom: 0rem;
  padding: 0;
}

.button-consultation {
  order: 4;
  font-size: 1rem;
  padding: 12px 15px;
}

.home-triangle {
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  width: 80%;
  height: 500px;
  z-index: -1;
}

/* LES AVIS IMANE */

.title-avis {
  font-size: 2rem;
  width: 100%;
  margin: auto;
  padding: 20px;
  margin-bottom: 15px;
}
.testimonial {
  flex: 0 0 70%;
}

.testimonial-header {
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-name {
  margin-bottom: 5px;
}

.testimonial-date {
  margin-bottom: 10px;
}

/* calculer IMC IMANE*/

.calculate-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}

.calculate-content {
  width: 100%;
  margin: auto;
}

.calculate-content .section-titles {
  margin-bottom: 0.5rem;
}

.section-title-border,
.section-title-border span {
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.calculate-description {
  width: 85%;
  margin: auto;
  line-height: 1.7;
  margin-bottom: 40px;
}

.imc-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.calculate-form {
  width: 85%;
  margin: auto;
}



.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: green;
  display: inline-flex;
  padding: .35rem;
  color: black;
  font-size: 1.25rem;
  z-index: 20;
  transition: .3S;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

.show-scroll {
  bottom: 3rem;
}

