/* HEADER BURGER IMANE */

header {
  padding: 10px 0;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  position: fixed;
  inset: 0;
}

.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 7;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
}

.fa-xmark {
  display: block;
  cursor: pointer;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  background-color: hsla(180, 12%, 8%, .8);
  backdrop-filter: blur(32px);
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  border-left: 2px solid white;
  transition: right .3s;
  z-index: 6;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  
}

.navbar a {
  display: flex;
}

.logo img {
  padding-top: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding: 5rem 0 0 3rem;
  color: black;
  transition: color .3s;
}

.nav-links:hover {
  color: green;
}

.fa-bars {
  display: block;
}

.fa-bars, .fa-xmark{
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  cursor: pointer;
}


.nav-close {
  position: absolute;
  top: 1.7rem;
  right: 0.2rem;
  z-index: 7;
}

.show-menu {
  right: 0;
}

.active-link {
  color: green;
}

/* FIN HEADER BURGER */


/* DEBUT SECTION HOME IMANE */
section.home {
  margin-bottom: 60px;
  margin-top: 150px;
}
.home-container {
	grid-template-columns: 1fr;
	padding-top: 2rem;
	display: flex;
	flex-direction: column-reverse;
}

.home-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
  text-align: center;
  margin-top: 0;
}

.home-img {
	display: block;
	width: 70%;
	margin: auto;
	transform: none;
	padding: 0 20px;
	margin-bottom: 20px;
}

.home-title {
  order: 1;
  font-size: 2rem;
  margin-bottom: 0;
  padding: 10px 0;
}

.home-subtitle {
  order: 2;
  font-size: 2rem;
  padding: 0;
}

.home-description {
  width: 100%;
  order: 4;
  font-size: 1rem;
  margin-bottom: 0rem;
  padding: 0;
}

.button-consultation {
  order: 4;
  font-size: 1rem;
  padding: 12px 15px;
}

.home-triangle {
	position: absolute;
	top: 0;
	right: 0;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	width: 80%;
	height: 500px;
	z-index: -1;
}
/* FIN SECTION HOME IMANE */

/* SECTION BIOGRAPHIE  */
#bienvenueChezMicka {
	display: flex;
	flex-direction: column;
	height: auto;
}
#photo1 {
	width: 41%;
}
#photo2 {
	width: 41%;
}
#illustration {
	display: none;
}

#descriptionbio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	padding: 0 20px;
	text-align: center;
}

#bio {
  width: 100%;
}

/* FIN SECTION BIOGRAPHIE CYNTHIA */

/* DEBUT ABONNEMENT VALENTIN */

#container {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  position: relative;
  height: auto;
}

.program,
.program-vert {
  min-width: 75%; /* Chaque abonnement prend toute la largeur */
  display: none; /* Cacher tous les abonnements par défaut */
  transition: opacity 0.5s ease-in-out;
  padding: 20px 0;
}

.program-header h3 {
  font-size: 1.4rem;
}

/* Afficher uniquement l'abonnement actif */
.program.active,
.program-vert.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/* Boutons de navigation */
.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.carousel-btn {
  display: block;
  background-color: var(--green-color);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.carousel-btn:hover {
  background-color: var(--prog-color);
}

.checklist li {
  font-size: .9rem;
}

.checklist li span {
  font-size: .5rem;
}
/* DEBUT ABONNEMENT VALENTIN */

/* DEBUT SECTION PROGRAM  */
.trainings {
	height: auto;
}

.trainings h3 {
  font-size: 1.4rem;
}

#program-listing {
  flex-direction: column;
  align-items: center;
}

#musculation,
#cardio-training,
#crossfit,
#HIT {
  width: 75%;
  max-width: 100%;
  padding: 15px;
}
/* DEBUT SECTION PROGRAM  */


/* DEBUT CHOOSE IMANE */
.choose {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  margin: auto;
  padding: 20px;
}

.choose-description {
  max-width: 500px;
  width: 100%;
}

.choose-data {
  width: 100%;
}

.main-section-title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: auto;
}
/* FIN CHOOSE IMANE */

/* DEBUT LES AVIS IMANE */

.title-avis {
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 15px;
}
.testimonial {
  flex: 0 0 70%;
}

.testimonial-header {
	flex-direction: column;
	align-items: flex-start;
}

.testimonial-name {
	margin-bottom: 5px;
}

.testimonial-date {
	margin-bottom: 10px;
}

.evalutaion-google p {
  font-size: 1rem;
}
/* FIN LES AVIS IMANE */

/* DEBUT calculer IMC IMANE*/

.calculate-container {
	display: flex;
	flex-direction: column-reverse;
}

.calculate-content {
	width: 90%;
	margin: auto;
}

.calculate-content .section-titles {
	margin-bottom: 0.5rem;
}

.section-title-border,
.section-title-border span {
	font-size: 2rem;
	text-align: center;
	align-items: center;
}

.calculate-description {
  width: 100%;
  margin: auto;
  line-height: 1.7;
  margin-bottom: 40px;
}

.calculate-input {
  padding: 20px 10px;
}

.imc-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.calculate-form {
  width: 80vw;
  margin: auto;
}

.partner-container {
  max-width: 400px;
  padding: 0 10px;
}

.calculate-img  {
  max-width: 150px;
}

/* DEBUT calculer IMC IMANE*/

/* modifs Micka*/
.testimonials {
	margin-top: 0;
}
/* fin de modifs*/

/* DEBUT FORMULAIRE VALENTIN */
.partie-1 {
	display: none;
}

.formulaire {
	justify-content: center;
}
.partie-2 p {
	width: 100%;
}
.contact-form {
	width: 80vw;
}

.contact-form input {
	text-align: center;
	font-size: 1.3rem;
}
.contact-form textarea {
	text-align: center;
	font-size: 1.3rem;
}

/* FIN FORMULAIRE VALENTIN */




