.home-images {
  height: 100%;
  max-height: 600px;
}

.home-img {
  object-fit: cover;
  transform: none;
}

.home-triangle {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  width: 300px;
  background-color: var(--green-color);
  z-index: 1;
}