:root {
    /* Couleurs principales */
    --green-color: #B3D537;
    --darkGreen-color: #0D1715;
    --prog-color: #1C231E;
    --paragraph-color: #afafaf;

    /* Polices principales */
    --paragraphe-font: "Titillium Web", sans-serif;
    --h2-font: "Black Ops One", system-ui;
}

/* CYNTHIA DEBUT*/
body {
    background-color: var(--darkGreen-color);
}

main {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* titre section 2 */
#bienvenueChezMicka {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


/*premier article à gauche : photo de Micka*/

#illustration {
    display: block;
    padding-top: 70px;
}

.photo1 {
    z-index: -1;
    width: 81%;
    /* height: 300px; */
}


.photo2 {
    width: 81%;
    z-index: 10;
    transform: translateY(-100%);
}

/*deuxième article à droite: bio de Micka*/

#descriptionbio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

h2 {
    font-family: var(--h2-font);
    font-size: 2rem;
}

h3 {
    font-family: var(--h2-font);
    font-size: 1.5rem;
}

p {
    font-family: var(--paragraphe-font);
    font-size: 14px;
    color: var(--paragraph-color);
    width: 60%;
    line-height: 2;
    letter-spacing: 1.5px;
}

button {
    font-family: var(--paragraphe-font);
    background-color: var(--green-color);
    color: var(--darkGreen-color);
    font-size: 1rem;
    border-radius: 23%;
    width: 24vw;
}

/* CYNTHIA FIN*/